<div class="content-area">
  <h1>Clients</h1>
  <div class="row d-flex align-items-center mb-3">
    <!-- Left side: Search / Filter / Columns -->
    <div class="col-5">
      <div class="d-flex align-items-center w-100 gap-2">
        <!-- Search -->
        <app-search-combobox
          [columnOptions]="columnsSections"
          (searchChange)="onSearchChange($event)"
          class="flex-grow-1"
        ></app-search-combobox>

        <!-- Filter -->
        <div class="dropdown-center">
          <button
            class="btn dropdown-toggle d-flex align-items-center"
            type="button"
            data-bs-toggle="dropdown"
            data-bs-auto-close="outside"
            aria-expanded="false"
          >
            <img src="/icons/dashboard/filter.svg" class="pe-2" alt="" />
            <span>Filter</span>
          </button>

          <ul class="dropdown-menu p-3">
            <h5>Filter</h5>

            <!-- Select All -->
            <li class="d-flex align-items-center form-check">
              <input
                class="form-check-input me-2"
                type="checkbox"
                id="select-all-filters"
                [(ngModel)]="selectAllCheckedFilters"
                (change)="onToggleAllFilters()"
              />
              <label for="select-all-filters" class="form-check-label"
                >Select All</label
              >
            </li>

            <hr class="dropdown-divider" />

            <!-- Dynamic filter sections -->
            <ng-container *ngFor="let section of filterSections">
              <h6>{{ section.title }}</h6>
              <li
                class="d-flex align-items-center form-check"
                *ngFor="let opt of section.options"
              >
                <input
                  class="form-check-input me-2"
                  type="checkbox"
                  [id]="opt.id"
                  [(ngModel)]="opt.checked"
                  (change)="onUpdateSelectAllState()"
                />
                <label class="form-check-label" [for]="opt.id">
                  {{ opt.label }}
                </label>
              </li>
              <hr class="dropdown-divider" />
            </ng-container>

            <!-- Bottom buttons -->
            <li class="d-flex justify-content-between align-items-center p-0">
              <button class="clear-all" (click)="onClearAllFilters()">
                Clear All
              </button>
              <button class="button-red" (click)="onApplyFilters()">
                Apply
              </button>
            </li>
          </ul>
        </div>

        <!-- Columns -->
        <div class="dropdown-center">
          <button
            class="btn dropdown-toggle d-flex align-items-center"
            type="button"
            data-bs-toggle="dropdown"
            data-bs-auto-close="outside"
            aria-expanded="false"
          >
            <img src="/icons/dashboard/columns.svg" class="pe-2" alt="" />
            <span>Columns</span>
          </button>
          <ul class="dropdown-menu p-3">
            <h5>Filter</h5>

            <!-- Select All -->
            <li class="d-flex align-items-center form-check">
              <input
                class="form-check-input me-2"
                type="checkbox"
                id="select-all-columns"
                [(ngModel)]="selectAllCheckedColumns"
                (change)="onToggleAllColumns()"
              />
              <label for="select-all-columns" class="form-check-label"
                >Select All</label
              >
            </li>

            <hr class="dropdown-divider" />

            <!-- Dynamic filter sections -->
            <ng-container *ngFor="let opt of columnsSectionsTemp">
              <li class="d-flex align-items-center form-check">
                <input
                  class="form-check-input me-2"
                  type="checkbox"
                  [id]="opt.id"
                  [(ngModel)]="opt.checked"
                  (change)="onUpdateSelectAllColumnsState()"
                />
                <label class="form-check-label" [for]="opt.id">
                  {{ opt.label }}
                </label>
              </li>
            </ng-container>
            <hr class="dropdown-divider" />

            <!-- Bottom buttons -->
            <li class="d-flex justify-content-between align-items-center p-0">
              <button class="clear-all" (click)="onClearAllColumns()">
                Clear All
              </button>
              <button class="button-red" (click)="onApplyColumns()">
                Apply
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Spacer -->
    <div class="col-5"></div>

    <!-- Right-aligned Add Client button -->
    <div class="col-2 d-flex justify-content-end">
      <button type="button" class="add-client-btn" [routerLink]="['/clients/add']">
        Add Client
      </button>
    </div>
  </div>
  <app-clients-table
    [clients]="clients"
    [columnsSections]="columnsSections"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [totalCount]="totalCount"
    [hasNextPage]="hasNextPage"
    (pageChanged)="onPageChange($event)"
    (pageSizeChanged)="onPaginationChange($event)"
    (clientSelected)="onViewClientDetails($event)"
  ></app-clients-table>
</div>

<router-outlet></router-outlet>
